body, table
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-size 16px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555

tr, td
	border: 1px solid black;

thead
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-size 18px
  font-weight: bold

table
  margin: 0 auto;
  border-collapse: collapse;

